/* @font-face {
  font-family: Bebas;
  src: url(./Images/bebas/Bebas-Regular.otf);
} */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "poppins";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #040402;
  padding: 13px 15px 13px 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.left {
  display: grid;
  justify-content: start;
  align-items: center;
}
.left a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 5px;
}
.right a:hover {
  color: #eb2219;
}
.right ul {
  list-style: none;
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  justify-content: space-around;
}
.right ul li {
  display: grid;
  justify-content: center;
  align-items: center;
}

.right ul li:nth-child(4) a {
  padding: 0 10px;
}
.right ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}
#btn1 {
  display: grid;
  color: #ffffff;
  background-color: #040402;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border: 2px solid #eb2219;
  /* height: 30px;
    width: 150px; */
  padding: 10px 30px;
  font-size: 20px;
}
#btn1:hover,
#btn2:hover,
.fourth a:hover,
#footBtn:hover {
  background-color: #eb2219;
}
.hero {
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #040402;
  /* padding: 
  250px 15px 20px 70px; */
}
.heroText {
  padding: 250px 15px 20px 70px;
  
}
.heroText h1 {
  color: #eb2219;
  font-size: 80px;
}
.heroText p {
  color: #909799;
  font-size: 20px;
  padding: 40px 0px 50px 0;
}
#secondBtnDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#btn2 {
  display: grid;
  color: #ffffff;
  background-color: #040402;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border: 2px solid #eb2219;
  /* height: 30px;
    width: 150px; */
  padding: 10px 30px;
  font-size: 20px;
}
.heroPic{
  overflow: hidden;
  display: grid;
  /* grid-template-columns: 1fr; */
}
.heroPic img {
  padding: 210px 20px 0px 10px;
  max-height: 900px;
  size-adjust: auto;
  /* display: grid; */
}

.cards {
  background-color: #040402;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 100px 60px 20px 60px;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
}
.card {
  /* display: grid; */
  justify-content: center;
  align-items: center;
  padding: 30px;

  background-color: #111111;
  margin: 10px;
  border-radius: 5px;
}
.card img {
  max-width: 100%;
  /* align-self: center; */
  border-radius: 2px;
}
.card h1 {
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}
.card p {
  color: #909799;
  text-align: center;
  padding: 20px 0 30px 0;
}
.card:hover {
  background-color: #eb2219;
  transform: scale(1.02);
  cursor: pointer;
}
.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.bar1 {
  background: radial-gradient(closest-side, #111111 79%, transparent 80% 100%),
    conic-gradient(#eb2219 100%, #5c5c5c 0);
}
.bar2 {
  background: radial-gradient(closest-side, #111111 79%, transparent 80% 100%),
    conic-gradient(#eb2219 75%, #5c5c5c 0);
}
.bar3 {
  background: radial-gradient(closest-side, #111111 79%, transparent 80% 100%),
    conic-gradient(#eb2219 35%, #5c5c5c 0);
}
.bar4 {
  background: radial-gradient(closest-side, #111111 79%, transparent 80% 100%),
    conic-gradient(#eb2219 60%, #5c5c5c 0);
}
.bar1::before {
  content: "100%";
  color: #9e9d9d;
  font-weight: 900;
  font-size: 30px;
}
.bar2::before {
  content: "75%";
  color: #9e9d9d;
  font-weight: 900;
  font-size: 30px;
}
.bar3::before {
  content: "35%";
  color: #9e9d9d;
  font-weight: 900;
  font-size: 30px;
}
.bar4::before {
  content: "60%";
  color: #9e9d9d;
  font-weight: 900;
  font-size: 30px;
}
.skills {
  display: grid;
  background-color: #111111;
}
.skillText {
  display: grid;
  justify-content: center;
  align-items: center;
  /* background-color: #040402; */
}
.skillText h1 {
  text-align: center;
  padding: 150px 0 10px 0;
  color: #ffffff;
  font-size: 45px;
}
.skillText p {
  text-align: center;
  color: #999999;

  font-size: 18px;
  padding: 20px 250px;
}
.progress {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 80px;
  justify-content: space-around;
  align-items: center;
}
.prog {
  display: grid;
  justify-content: center;
  align-items: center;
}
.prog p {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  padding: 20px;
}
.teamCards {
  background-color: #040402;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 30px 20px 30px;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
}

.teamCard {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 30px 30px 40px 30px;

  background-color: #111111;
  margin: 10px;
  border-radius: 5px;
}
.teamCard img {
  max-width: 50%;
  border-radius: 50%;
  margin: 20px auto 40px auto;
  /* align-self: center; */
}
.teamCard h1 {
  color: #ffffff;
  text-align: center;
  padding: 20px 0 10 0;
  font-size: 25px;
}
.teamCard p {
  color: #909799;
  text-align: center;
  font-size: 20px;
  padding: 15px 0 30px 0;
}
.expertText {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #040402;
}
.expertText h1 {
  text-align: center;
  padding: 100px 0 10px 0;
  color: #ffffff;
  font-size: 45px;
}
.expertText p {
  text-align: center;
  color: #999999;
  font-size: 18px;
  padding: 20px 250px;
}
.socialIcons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin: auto;
  gap: 30px;
}
.socialIcons i {
  color: #eb2219;
  font-size: 25px;
}
.clients {
  display: grid;
  background-color: #111111;
  padding: 0px 50px;
}
.clientText h1 {
  text-align: center;
  padding: 100px 0 10px 0;
  color: #ffffff;
  font-size: 45px;
}
.clientNames {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.client {
  display: grid;
  justify-content: center;
  padding: 50px 50px 80px 50px;
}

.contactUs {
  background-color: #040402;
  display: grid;
  padding: 50px 0 50px 0;
}
.contact {
  width: 60%;
  margin: auto;
}
.contactUs h1 {
  text-align: center;
  padding: 70px 0 30px 0;
  color: #ffffff;
  font-size: 45px;
}
.first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.second {
  padding: 10px 0px;
}
.second,
.third,
.fourth {
  display: grid;
}
.third textarea {
  border-radius: 0.25rem;
  outline: none;
  padding: 7px 10px;
  resize: none;
}
.contactUs input {
  padding: 12px 10px;
  border-radius: 0.25rem;
  outline: none;
  border: 1px solid rgb(143, 143, 143);
  background-color: #ababab00;
}
.contactUs textarea {
  background-color: #ababab00;

}
.fourth a {
  display: grid;
  color: #ffffff;
  background-color: #040402;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border: 2px solid #eb2219;
  /* height: 30px;
      width: 150px; */
  padding: 10px 30px;
  font-size: 20px;
  gap: 20px;
  margin-top: 10px;
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #111111;
  padding: 100px 40px;
}
.foot {
  display: grid;
  justify-content: center;
  /* align-items: center  ; */
}

.logo a {
  color: #eb2219;
  text-decoration: none;
  font-size: 28px;
}
.foot1 p {
  color: #7e7e7e;
}
.footerIcons {
  display: flex;
  align-items: center;
  /* margin: auto; */
  gap: 20px;
}
.footerIcons i {
  color: #eb2219;
  font-size: 22px;
}
.foot2 a {
  color: #7e7e7e;
  text-decoration: none;
  font-size: 20px;
}
.foot2 ul {
  list-style: none;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
}

.foot3 p,
.foot4 p {
  padding: 10px 0;

  color: #7e7e7e;
  text-decoration: none;
  font-size: 20px;
}
.foot4 i {
  padding: 0 7px;
}
.innerFoot3,
.innerFoot4 {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
   }
#footBtn {
  display: grid;
  color: #ffffff;
  background-color: #040402;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border: 2px solid #eb2219;

  padding: 15px 30px;
  font-size: 20px;
}
#menu {
  display: none;
}
.icon {
  display: none;
}




@media (max-width: 1024px){
  .heroText {
    padding: 100px 20px 20px 50px;
  }
  .heroText p{
    padding: 30px 0 30px 0;
  }
  .hero{
    grid-template-columns: 1fr;
  }
  .heroPic{
    justify-content: center;
    align-items: center;
    padding-right: 50px;
  }

  nav{
    padding: 15px 40px 13px 40px;

  }
  .right{
    display: none;
  }
  #menu i {
    display: flex;
    justify-content: end;
}
.icon{
    justify-content: end;
    display: grid;
}
.icon #navOpenBtn {
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;

}
.icon #navCloseBtn {
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
}
  #menu ul {
    background-color: white;
    list-style: none;
}
#menu ul li a {
    text-decoration: none;
    color: #ffffff;
}
#menu ul li{
    margin: 20px;
    letter-spacing: 3px;
    font-weight: 700;
}
#menu {
    display: flex;
    flex-direction: column;
    
    height: 30px;
    /* display: none; */
    /* overflow: hidden; */
    width: 100%;
    z-index: 3333;
    position: fixed;
  top: -300px;
  transition: all 0.5s ease-in-out;
}
#menu ul{
    /* margin-top: 30px; */
    text-align: center;
    padding: 20px 10px;
  background-color: #040402;
    /* min-width: 150px; */
    /* border-radius: 20px; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   
  border-bottom: .5px solid black;

}

.cards{
  grid-template-columns: 1fr 1fr;
  padding-top: 60px !important;
  /* padding: 100px 20px 20px 50px; */

}
.teamCards{
  grid-template-columns: 1fr 1fr;
}
.clientNames{
  grid-template-columns: 1fr 1fr 1fr;
}
.progress{
  grid-template-columns: 1fr 1fr;

}
.skillText p{
  padding: 30px 30px 0px 30px;

}
.expertText p{
  padding: 30px 30px 0px 30px;

}
.prog{
  padding: 20px 0 20px 0;
}
}
@media (max-width: 850px){
  .hero{
   width: 100%;   
  }
.cards{
  padding: 20px 30px 20px 30px;

}
#btn2{
  padding: 10px 15px;
}
    .heroText{
      text-align: center;
      padding: 100px 30px 20px 30px;

    }
    /* .contact{
      width: 80%;
    } */
    /* .heroPic{

    } */
    .heroPic img{
      height: 600px;

    }
    .heroText h1{
      font-size: 40px;
    }
    #secondBtnDiv{
      grid-template-columns: 1fr;
    }
    .cards{
      grid-template-columns: 1fr;
    }
    .teamCards{
      grid-template-columns: 1fr;
    }
    .clientNames{
      grid-template-columns: 1fr ;
    }
    .progress{
      grid-template-columns: 1fr;

    }
  
    .prog{
      padding: 20px 0 20px 0;
    }
    .first{
      grid-template-columns: 1fr;
      gap: 10px;
    }

    footer{
      grid-template-columns: 1fr;
      padding: 80px 0px 50px 50px;

    }
    .foot{
      justify-content: start;
    }
    .foot1 p{
      padding: 10px 0 30px 0;
      
    }
    .foot1{
      padding-bottom: 30px;
    }
.foot2 ul li{
  padding-top: 15px;
}
.foot2 ul{
  padding-bottom: 50px;
}
.innerFoot3{
  padding-bottom: 50px;
}
#footBtn{
  margin-top: 50px;
}
.client{
  padding: 20px 0 20px 0;

}.clientText h1 {
  padding: 100px 0 50px 0;

}
.expertText p{
  padding: 30px 30px 20px 30px;
}
.contact{
  width: 90%;
}
}